In [6]:
import pandas as pd 
import requests as req

In [7]:
df_csv = pd.read_csv('../data/raw/bicimad_stations.csv', sep='\t') #importamos el csv

df_csv

,Unnamed: 0,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]"
260,260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]"
261,261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]"
262,262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]"
263,263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]"

In [8]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            264 non-null    int64
 1   id                    264 non-null    int64
 2   name                  264 non-null    object
 3   light                 264 non-null    int64
 4   number                264 non-null    object
 5   address               264 non-null    object
 6   activate              264 non-null    int64
 7   no_available          264 non-null    int64
 8   total_bases           264 non-null    int64
 9   dock_bikes            264 non-null    int64
 10  free_bases            264 non-null    int64
 11  reservations_count    264 non-null    int64
 12  geometry.type         264 non-null    object
 13  geometry.coordinates  264 non-null    object
dtypes: int64(9), object(5)
memory usage: 29.0+ KB

In [9]:
df_csv['geometry.type'].value_counts()

geometry.type
Point    264
Name: count, dtype: int64

In [10]:
#elimino dos columnas que no aportan valor
bicimad=df_csv.drop(columns='geometry.type') 
bicimad=bicimad.drop(columns='Unnamed: 0') 
bicimad

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.coordinates
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,"[-3.7018341, 40.4172137]"
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,"[-3.701602938060457, 40.41731271011562]"
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,"[-3.7058415, 40.4205886]"
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,"[-3.7069171, 40.4302937]"
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,"[-3.7025875, 40.4285524]"
...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,"[-3.72997, 40.43896]"
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,"[-3.72699, 40.44375]"
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,"[-3.72693, 40.44342]"
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,"[-3.7272945, 40.4483322]"
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,"[-3.72937, 40.45109]"

In [11]:
#compruebo los NaN
nan_cols = bicimad.isna().sum() 
nan_cols[nan_cols>0]

Series([], dtype: int64)

In [12]:
bicimad.to_json('../data/processed/bicimad.json')

In [18]:
bicimad[bicimad['number']== '273']

Empty DataFrame
Columns: [id, name, light, number, address, activate, no_available, total_bases, dock_bikes, free_bases, reservations_count, geometry.coordinates]
Index: []